.bg-color-wheel{
    background-color: rgb(184, 184, 184);
}

.color-wheel-placeholder{
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}

.slider-placeholder{
    margin: auto;
    background-color: white;
    height: 25px;
    width: 250px;
}

.hex-code-input{
    width: 200px;
    padding: 10px 0;
    border-radius: 10px;
}

.generate-button{
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
}

.color-box{
    border: 1px black solid;
    height: 150px;
    width: 200px;
}

.hex-code{
    background-color: rgb(184, 184, 184);
    padding: 7px 0;
    width: 150px;
}

footer{
    margin: 0;
    background-color: rgb(184, 184, 184);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
    color: black;
}

a:hover{
    color: rgb(29, 29, 29);
}