body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-color-wheel{
  background-color: rgb(184, 184, 184);
}

h2, p {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
  }

.color-wheel-placeholder{
  margin: auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 20px;
}

.slider-placeholder{
  margin: auto;
  background-color: white;
  height: 25px;
  width: 250px;
  border-radius: 20px;

}

.hex-code-input{
  width: 200px;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
  height: 40px;
}

.generate-button{
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border-color: white;
  border-width: 2px;
}

.filler{
  height: 11vh;
}

@media screen and (max-width: 425px) {
  
  .filler{
    height: 5vh;
  }

  .suggestions{
    min-width: 100%;
  }
  
}

footer{
  margin: 0;
  background-color: rgb(184, 184, 184);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-text{
  padding: 0 5px;
}

a{
  color: black;
}

a:hover{
  color: rgb(29, 29, 29);
}

@media screen and (min-width: 1441px) {
  html{
    font-size: large;
  }

  .color-wheel-placeholder{
    margin: auto;
    height: 390px;
    width: 390px;
    margin-bottom: 40px;
  }

  .slider-placeholder{
    margin: auto;
    background-color: white;
    height: 35px;
    width: 350px;
    border-radius: 20px;
  
  }
  
  .hex-code-input{
    width: 250px;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
  }
  
  .generate-button{
    background-color: black;
    color: white;
    width: 220px;
    height: 70px;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
  }

  .filler{
    height: 5vh;
  }
  
}
@media screen and (min-width: 2000px) {
  html{
    font-size: x-large;
  }
}